@import "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css";

@font-face {
    font-family: 'Avenir';
    src: url(../font-family/Avenir-Font/avenir_ff/AvenirLTStd-Book.otf);
  }
  @font-face {
    font-family: 'Avenir Next';
    src: url(../font-family/Avenir-Font/avenir_ff/AvenirLTStd-Black.otf);
  }
  *{
      font-family: 'Avenir';
  }
  .casino {
    display: inline;
    list-style: none;
    
  }
  .sidenav{
    background: #001234;
    color: #828993;
    font-family: 'Avenir';
    font-weight: 400;
  }
  .casino a:hover,
li.active{
    color: #f5f6f7 !important;
    background: rgba(0, 17, 168, 0.7);
    border-radius: 30px;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
  }
  .casino a{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fff;
  }
  .Lottery a{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #A7A7A7 !important;
  }
  .Lottery .fire{
    position: absolute;
    left: 17%;
    top: 5%;
  }
  /************navtabs*********/
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: linear-gradient(273.04deg, #001185 70.77%, rgba(0, 255, 255, 0.35) 97.43%) !important;
    border-radius: 0px 30px 30px 0px !important;
    cursor: pointer;
    color: #fff;
    left: -7% !important;
    position: relative !important;
  }
  .nav-pills .nav-link{
    left: -16px !important;
    position: relative !important;
  }
  .nav-pills .nav-link:hover, .nav-pills .show>.nav-link{
color: #fff !important;
  }
  #navbarText >.nav-tabs  .nav-link.active, .nav-tabs .show>.nav-link {
    background: linear-gradient(273.04deg, #001185 70.77%, rgba(0, 255, 255, 0.35) 97.43%) !important;
    border-radius: 0px 30px 30px 0px !important;
    left: -15% !important;
    position: relative !important;
    color: #fff !important;
    border: none !important;
    padding: 5px !important;
  }
  #navbarText .nav-tabs .nav-item.show .nav-link, .nav-tabs a.active{
    color: #fff;
  }
  #navbarText .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    border: none;
   
  
  }
  #navbarText .nav-tabs .nav-link{
    left: -15%;
    position: relative;
  }
  
  #navbarText .nav-tabs>span{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    
    color: #828993;
  }
  #navbarText .nav-tabs{
      border-bottom: none !important;
  }
  .promotion{
      color: #80D847 !important;
  }
  .promotion_items{
    width: 70px;
    height: 65px;
    left: 25px;
    background: rgba(63, 63, 63, 0.66);
   border-radius: 25px;
    padding: 7px;

  }
  .promotion_items img{
    width: 3rem;
    height: 3rem;
  }
  .promotion_items>span{
    width: 3rem;
    height: 3rem;
  }
/*************end of navtabs***************/
.cyan-blue{
  color: #818892;
  font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 18px;
padding-left: 39px;
}
#myTab_1{
  background: #00175B !important;
border-radius: 40px !important;
margin-left: 150px;
}
#myTab_1 >.nav-tabs .nav-item.show .nav-link, .nav-tabs a.active{
  background: #0019C2 !important;
border-radius: 40px;
color: #fff !important;
padding: 5px;
}
#myTab_1 >.nav-tabs .nav-item.show .nav-link, .nav-tabs a:hover{
  color: #818892;
}
/* #myTab_1 .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: #00175B !important;
  border-radius: 40px !important;
} */

#claasic-bg{
  background: #00175B;
border-radius: 0px 20px 20px 20px;
}
#claasic-bg img{
border-radius: 20px;
}
#claasic-bg>span{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  color: #969696;
  }
  .rectangle-bg{
    background: url(../images/rectangle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 1.25rem;
    position: relative;
    left: -3%;
    }
    .rectangle-bg span{
      font-family: 'Avenir Next';
      font-style: italic;
      font-weight: 900;
      font-size: 24px;
      line-height: 33px;
      color: #00A3FF;
      text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
    }
    .stackspin{
      background: url(../images/classic`game1.svg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 20px;
     
    }
    .daily-ruffle{
      background: url(../images/classic-g2.svg);
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 20px;
     
    }
    .wheel{
      background: url(../images/classic-g3.svg);
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 20px;
     
    }
    .roul{
      background: url(../images/classic-g4.svg);
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 20px;
     
    }
    .stackspin >h3{
      font-family: 'Avenir Next';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #FFFFFF;
    }
    .stackspin>h3>span{
      color: #FFE500;
    }
    .stackspin .stack-btn{
      background: linear-gradient(94.57deg, #FF7A00 7.42%, #FFA800 96.37%);
      border-radius: 30px;
      border: transparent;
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #FFFFFF;
    }
    .stack-span,.stack-span1{
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 900;
      font-size: 14px;
      line-height: 19px;
      color: #969696;
    }
    .stack-span1{
      color: #80D946;
    }
/****************navbar****************/

.nav-bg{
  background: #01369B;
}
.serach_item{
 /* position: absolute;
  width: 626px;*/
  height: 51px;
  left: 335px;
  top: 12px;
  background: rgba(0, 11, 66, 0.65);
  border-radius: 30px;
}
.serach_item input{
  background-color: transparent !important;
  color: #fff;
  border: none;
}
.form-control{
  color: #fff !important;
}
.serach_item button{
  border: none;
  background-color: transparent;
}

.login_btn{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
}
.sign_btn{
  background: linear-gradient(94.57deg, #FF7A00 7.42%, #FFA800 96.37%);
  border-radius: 30px;
  border: none;
}
.depost_btn{
  background: linear-gradient(93.19deg, #1AB900 5.18%, #21EB00 97.11%);
  border-radius: 30px;
  border: none;
}
.navbar-expand-md {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: space-between;
}
.selectpicker{
  background: rgba(0, 17, 168, 0.7);
border-radius: 30px;
border: transparent;
font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
border: 0;
  
  border-right: 16px solid transparent;
}
.live-support{
  background: rgba(19, 234, 0, 0.7);
  border-radius: 30px;
}
.refer{
  background: rgba(238, 171, 0, 0.9);
  border-radius: 30px;
}
/******************end of navbar**********/
/********************Dashboard***************/
#power-stack{
  background: rgba(0, 17, 168, 0.7);
}
.enter-now{
  background-image: url(../images/power_stack.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  position: relative;
}
#power-stack h1{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 58.7907px;
  line-height: 80px;
  text-align: center;
  color: #FFFFFF;
}
#power-stack h2{
  font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 39.1938px;
line-height: 54px;
text-align: right;
color: #FFFFFF;
}
.enter-now button{
  background: #24FF00;
border-radius: 12.2481px;
font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 15.5969px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
text-align: center;
border: none;
color: #333333;
}
.play-now{
  background-image: url(../images/play-now.svg);
  border-radius: 20px;
  position: relative;
  background-repeat: no-repeat
}
.play-now>h3{
  font-family: 'Avenir';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
color: #FFFFFF;
text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
}
.play-now>h3>span{
  color:#80D847 ;
}
.enter-now>span{
  color: #80D847;
}
.play-now button{
  background: linear-gradient(94.57deg, #FF7A00 7.42%, #FFA800 96.37%);
border-radius: 30px;
font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 22px;
text-align: center;
border: none;
color: #FFFFFF;
}
.buy-ticket{
  
    background-image: url(../images/buy-ticket.png);
    background-size: contain;
    border-radius: 20px;
    position: relative;
    height: 40vh;
    background-repeat: no-repeat;
  }
  .play{
    background-image: url(../images/play.png);
    background-size: contain;
    border-radius: 20px;
    position: relative;
    height: 40vh;
    background-repeat: no-repeat
  }
  #rewards{
    background: #00175B;
    border-radius: 20px;
    /* height: 50vh; */
  }
  #rewards h4{
    font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #00FFFF;
  }
#rewards .span1{
  font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 22px;

color: #656E76;
}
#rewards .span2{
  font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 25px;

color: #FFFFFF;
}
#rewards .span3{
  font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 22px;

color: #E6E8EE;
}

/** Vertical Slider 100% Height */
.vertical .carousel-item {
  height: 100%;
  min-height: 144px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Vertical Slider Animation */
.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/* Vertical Ccarousel Indicators on Right */
#carouselExampleIndicators .carousel-indicators {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  right: 10px;
  left: auto;
  width: auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#carouselExampleIndicators .carousel-indicators > li {
  display: block;
  border-radius: 12px;
  width: 12px;
  height: 12px;
  border: 0;
}

#carouselExampleIndicators .carousel-indicators li.active {
  margin-bottom: 5px;
  background: #fff;
}

/* Vertical Carousel Controls on Right */
#carouselExampleIndicators .carousel.vertical .carousel-control-prev,
.carousel.vertical .carousel-control-next {
  left: auto;
  right: 13.5px;
  width: 50px;
}
#carouselExampleIndicators .carousel.vertical .carousel-control-prev.up {
  top: 0;
  bottom: 50%;
}
#carouselExampleIndicators .carousel.vertical .carousel-control-next.down {
  top: 50%;
  bottom: 0;
}
#carouselExampleIndicators .carousel.vertical .carousel-control-prev.up i,
#carouselExampleIndicators .carousel.vertical .carousel-control-next.down i {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  font-size: 2em;
}
#carouselExampleIndicators .carousel.vertical .carousel-control-prev.up i {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}
#carouselExampleIndicators .carousel.vertical .carousel-control-next.down i {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}

/* Vertical Carousel Captions Size */
#carouselExampleIndicators .carousel-caption {
  max-width: 100%;
  width: 100%;
  height: 85%;
  left: 0;
}
#carouselExampleIndicators .carousel-item img{
  height: 75px;
  width: 75px;
  border-radius: 20px;
 
}
#carouselExampleIndicators .span_2{
  color: #65DC41;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  top: 0 !important;
}
#carouselExampleControls h5{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 11px;
  line-height: 16px;
  color: #E6E8EE;
}
#carouselExampleControls h6{
  font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 9px;
line-height: 16px;
color: #969696;
}
#carouselExampleControls img{
  height: 80px;
  width: 80px;
  border-radius: 20px;
}
#carouselExampleControls .carousel-control-prev{
  position: absolute;
  top: -42px;
  left: 212px;
  /* right: -51px; */
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #0019C2;
}
#carouselExampleControls .carousel-control-next{
  position: absolute;
  top: -42px;
  /* left: 212px; */
  /* right: -51px; */
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #0019C2;
  }
  .carousel-control-next-icon{
    width: 15px;
    height: 15px;
  }
  .carousel-control-prev-icon{
    width: 15px;
    height: 15px;
  }
  hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;                
  background:  rgba(135, 135, 135, 0.31);
    height: 1px;
}


#line {
    float: left;
    
    height: 20px;                
}
/****************media query**********/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .serach_item{
    width: 9%;
  }
  #myTab_1{
    margin-left: 0;
  }
  .rectangle-bg{
    left: -6%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .serach_item{
    width: 9%;
  }
  #myTab_1{
    margin-left: 0;
  }
  .rectangle-bg{
    left: -6%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .serach_item{
  width: 9%;
}
.main-sidebar{
  display: block !important;
}
#myTab_1{
  margin-left:0px;
}
.rectangle-bg{
  left: -15px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .serach_item{
    width: 15px;
  }
  .rectangle-bg{
    left: -15px;
  }
  #myTab_1{
    margin-left: 150px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .serach_item{
    width: 50%;
  }
}











